:root {
    --primary-color: #333;
    --background-color: #f7f7f7;
    --text-color: #333;
  }
  
  .dark-mode {
    --primary-color: #fff;
    --background-color: #333;
    --text-color: #fff;
  }

  .dark-mode {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  